<h1> Añadir nuevo tema</h1>

<%= form_tag :action => 'create' do %>
<p><label for = "tema_name">Nombre</label>:
<%= text_field 'tema', 'name' %></p>

<%= submit_tag 'Crear' %>
<% end %>
<%= link_to 'Atrás', {:action => 'list'} %>