<h3>Menú principal</h3>
<p>Seleccione un listado:</p>
<ul>
    <li><%= link_to 'Libros', {:action => 'list', :controller => 'libro'} %></li>
    <li><%= link_to 'Autores', {:action => 'list', :controller => 'autor'} %></li>
    <li><%= link_to 'Temas', {:action => 'list', :controller => 'tema'} %></li>
</ul>