<h1> Añadir nuevo autor</h1>

<%= form_tag :action => 'create' do %>
<p><label for = "autor_name">Nombre</label>:
<%= text_field 'autor', 'name' %></p>

<%= submit_tag 'Crear' %>
<% end -%>
<%= link_to 'Atrás', {:action => 'list'} %>