<h1><%= @autor.name -%></h1>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<ul>
    <% @autor.libros.each do |c| %>
    <li><%= link_to c.titulo, :action => "show", :controller => 'libro', :id => c.id -%></li>
    <% end %>
</ul>