<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES" "http://www.w3.org/TR/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">

    <head>
        <title>Libería</title>
        <meta http-equiv = "Content Type" content = "text/html; charset = iso-8859-1" />
        <meta http-equiv = "Content-Language" content = "es-ES" />
        <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag "style" %>
    </head>

    <body id = "librería">
        <div class = "container">

            <div id = "header">
                <h1>Sistema de información de librería</h1>
                <h2>Librería funcionando con Ruby On Rails</h2>
            </div>

            <div id = "content">
                <%= yield -%>
            </div>

            <div id = "sidebar"></div>

        </div>
    </body>

</html>